
  <form class="form-signin" ng-submit="$ctrl.login()">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <label for="username" class="sr-only">username</label>
    <input type="text" id="username" ng-model="$ctrl.username" class="form-control" placeholder="Username" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" ng-model="$ctrl.password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disable=$>Sign in</button>
</form>